In [6]:
import pandas as pd

In [7]:
from pandas_profiling import ProfileReport
#!pip install pandas_profiling

In [8]:
def get_dom(dt):
    return dt.day 

def get_weekday(dt):
    return dt.weekday()

In [9]:
def load_dataset(filename):
    df = pd.read_csv(filename, header=0, parse_dates=['date_mutation'],skipinitialspace = True,
    dtype={("nature_mutation ","nom_commune","nature_culture"):"category",("valeur_fonciere","code_postal","surface_relle_bati","nombre_pieces_principales","surface_terrain","longitude","latitude") : "float32"})
    df['date_mutation'] = pd.to_datetime(df['date_mutation'])
    df['id_mutation'] = df['id_mutation'].astype(str)
    df = df.drop(columns= ['Unnamed: 0','adresse_suffixe','adresse_numero','ancien_code_commune', 'ancien_nom_commune',
                           'ancien_id_parcelle', 
        'numero_volume', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero', 
                           'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez', 
        'lot4_numero', 'lot4_surface_carrez', 'lot5_numero', 'lot5_surface_carrez'])
    df['adresse_nom_voie'] = df['adresse_nom_voie'].dropna()
    df["nombre_pieces_principales"] = df["nombre_pieces_principales"].dropna()
    df['surface_reelle_bati'] = df['surface_reelle_bati'].dropna()
    df['type_local'] = df['type_local'].dropna()
    df['code_type_local'] = df['code_type_local'].dropna()
    df["longitude"] = df["longitude"].dropna()
    df["latitude"] = df["latitude"].dropna()
    df['surface_terrain'] = df['surface_terrain'].dropna()
    
    df['code_nature_culture'] = df['code_nature_culture'].dropna()
    df['nature_culture'] = df['nature_culture'].dropna()
    df['code_nature_culture_speciale'] = df['code_nature_culture_speciale'].dropna()
    df['nature_culture_speciale'] = df['nature_culture_speciale'].dropna()
    df['code_type_local'] = df['code_type_local'].dropna()
    df['type_local'] = df['type_local'].dropna()
    df['nature_mutation'] = df['nature_mutation'].dropna()


    #Set sorted date as index 
    df = df.set_index(['date_mutation'])
    df = df.sort_index()
    df.index = pd.to_datetime(df.index)

    df['dom'] = df.index.map(get_dom)
    df['weekday'] = df.index.map(get_weekday)
    #df.drop_duplicates(subset = date)
    df.drop_duplicates(subset = "id_mutation")
    df.drop_duplicates(subset = "numero_disposition")
    df.drop_duplicates(subset = "valeur_fonciere")
    return df

In [35]:
df = load_dataset("2016_sample.csv")

In [36]:
df.profile_report()
profile = ProfileReport(df, title="Pandas Profiling Report")
#df.profile_report()

In [39]:
pd.set_option('max_columns', None)

In [40]:
df_type = df.groupby("type_local")

x=[]

for a,b in df_type:
    res = x.append(b.shape[0])
    print(b.shape[0])

x

1714
1278
332
1949

[1714, 1278, 332, 1949]

In [41]:
df["nature_mutation"].value_counts(normalize=True)*100

Vente                                 90.061993
Vente en l'état futur d'achèvement     6.952790
Echange                                2.050548
Adjudication                           0.610396
Vente terrain à bâtir                  0.257511
Expropriation                          0.066762
Name: nature_mutation, dtype: float64

In [42]:
df["type_local"].value_counts(normalize=True)*100

Maison                                      36.961881
Appartement                                 32.505215
Dépendance                                  24.236677
Local industriel. commercial ou assimilé     6.296226
Name: type_local, dtype: float64

In [54]:
df["code_departement"].value_counts(normalize=True)*100

33    8.927039
13    6.800191
31    6.151645
34    5.817835
6     5.751073
17    4.339533
29    4.282308
30    3.528851
24    3.490701
14    3.338102
22    3.319027
1     3.090129
16    2.727706
21    2.708631
26    2.498808
11    2.451121
25    2.241297
27    2.174535
18    2.155460
7     2.107773
12    2.098236
2     2.031474
3     1.745351
28    1.678588
19    1.649976
9     1.649976
32    1.611826
23    1.583214
10    1.440153
35    1.211254
8     1.201717
5     1.154030
15    0.963281
4     0.810682
2B    0.648546
2A    0.619933
Name: code_departement, dtype: float64

In [43]:
df

,id_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,id_parcelle,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,dom,weekday
date_mutation,,,,,,,,,,,,,,,,,,,,,,,,,
2016-01-02,2016-48182,1,Vente,300000.00,BD MAL LECLERC,158,6360.0,6059,Èze,6,06059000AE0144,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,7.351209,43.734410,2,5
2016-01-02,2016-286533,1,Vente,120000.00,POULEZOU,B446,29390.0,29274,Scaër,29,292740000I0805,0,1.0,Maison,118.0,4.0,S,sols,NaN,NaN,871.0,-3.709839,47.962923,2,5
2016-01-04,2016-73990,1,Vente,90000.00,RUE GAMBETTA,220,8000.0,8480,Villers-Semeuse,8,08480000AH0050,0,1.0,Maison,73.0,5.0,S,sols,NaN,NaN,271.0,4.750158,49.739495,4,0
2016-01-04,2016-233608,1,Vente,72386.23,MONPLAISIR,B059,24330.0,24156,La Douze,24,241560000A1009,0,NaN,NaN,NaN,NaN,BT,taillis simples,CHENE,Chênes,4646.0,0.836438,45.078824,4,0
2016-01-04,2016-335947,1,Vente,115000.00,IMP CAMILLE CLAUDEL,1562,31300.0,31555,Toulouse,31,31555845AP0009,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.371604,43.597425,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31,2016-182911,1,Vente,268000.00,BD FRANCK LAMY,1370,17200.0,17306,Royan,17,17306000AM0026,1,2.0,Appartement,72.0,3.0,NaN,NaN,NaN,NaN,NaN,-1.013881,45.626005,31,5
2016-12-31,2016-316156,1,Vente,187627.00,CHENEVIERES,B020,30620.0,30333,Uchaud,30,30333000AW0272,0,NaN,NaN,NaN,NaN,S,sols,NaN,NaN,309.0,4.276982,43.757779,31,5
2016-12-31,2016-197989,1,Vente,100.00,CHAMPS DU BOIS ROND,B050,18300.0,18116,Jalognes,18,18116000ZP0009,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,7263.0,2.779311,47.248626,31,5
2016-12-31,2016-103569,1,Vente,56000.00,VAYSSET,B164,12500.0,12061,Castelnau-de-Mandailles,12,120610000B0084,0,NaN,NaN,NaN,NaN,L,landes,PATUR,Pâture plantée,801.0,2.898014,44.558929,31,5
2016-12-31,2016-89032,1,Vente,170578.00,RUE DU CHATEAU,10,10500.0,10445,Yèvres-le-Petit,10,10445000ZM0083,0,4.0,Local industriel. commercial ou assimilé,5562.0,0.0,S,sols,NaN,NaN,5368.0,4.488631,48.479545,31,5

In [44]:
"""from bokeh.plotting import figure
from bokeh.embed import components

plot = figure()
plot.circle([1,2], [3,4])

script, div = components(plot)"""

'from bokeh.plotting import figure\nfrom bokeh.embed import components\n\nplot = figure()\nplot.circle([1,2], [3,4])\n\nscript, div = components(plot)'

In [45]:
#pd.set_option('max_rows', None)
#most represented departments
df['code_departement'].value_counts(normalize=True)*100

33    8.927039
13    6.800191
31    6.151645
34    5.817835
6     5.751073
17    4.339533
29    4.282308
30    3.528851
24    3.490701
14    3.338102
22    3.319027
1     3.090129
16    2.727706
21    2.708631
26    2.498808
11    2.451121
25    2.241297
27    2.174535
18    2.155460
7     2.107773
12    2.098236
2     2.031474
3     1.745351
28    1.678588
19    1.649976
9     1.649976
32    1.611826
23    1.583214
10    1.440153
35    1.211254
8     1.201717
5     1.154030
15    0.963281
4     0.810682
2B    0.648546
2A    0.619933
Name: code_departement, dtype: float64

In [52]:
df_depart = df[df['code_departement']=="44"]

In [53]:
df_depart

Empty DataFrame
Columns: [id_mutation, numero_disposition, nature_mutation, valeur_fonciere, adresse_nom_voie, adresse_code_voie, code_postal, code_commune, nom_commune, code_departement, id_parcelle, nombre_lots, code_type_local, type_local, surface_reelle_bati, nombre_pieces_principales, code_nature_culture, nature_culture, code_nature_culture_speciale, nature_culture_speciale, surface_terrain, longitude, latitude, dom, weekday]
Index: []

In [32]:
df_depart['nature_mutation'].value_counts(normalize=True) * 100

Vente                                 85.150079
Vente en l'état futur d'achèvement    13.586098
Vente terrain à bâtir                  0.947867
Echange                                0.315956
Name: nature_mutation, dtype: float64

In [21]:
"""#!pip install bokeh
from bokeh.plotting import figure
from bokeh.models import Range1d
from bokeh.embed import components

# create some data
x1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y1 = [0, 8, 2, 4, 6, 9, 5, 6, 25, 28, 4, 7]
x2 = [2, 5, 7, 15, 18, 19, 25, 28, 9, 10, 4]
y2 = [2, 4, 6, 9, 15, 18, 0, 8, 2, 25, 28]
x3 = [0, 1, 0, 8, 2, 4, 6, 9, 7, 8, 9]
y3 = [0, 8, 4, 6, 9, 15, 18, 19, 19, 25, 28]

# select the tools you want
TOOLS="pan,wheel_zoom,box_zoom,reset,save"

# the red and blue graphs share this data range
xr1 = Range1d(start=0, end=30)
yr1 = Range1d(start=0, end=30)

# only the green graph uses this data range
xr2 = Range1d(start=0, end=30)
yr2 = Range1d(start=0, end=30)

# build the figures
p1 = figure(x_range=xr1, y_range=yr1, tools=TOOLS, width=300, height=300)
p1.scatter(x1, y1, size=12, color="red", alpha=0.5)

p2 = figure(x_range=xr1, y_range=yr1, tools=TOOLS, width=300, height=300)
p2.scatter(x2, y2, size=12, color="blue", alpha=0.5)

p3 = figure(x_range=xr2, y_range=yr2, tools=TOOLS, width=300, height=300)
p3.scatter(x3, y3, size=12, color="green", alpha=0.5)

# plots can be a single Bokeh model, a list/tuple, or even a dictionary
plots = {'Red': p1, 'Blue': p2, 'Green': p3}

script, div = components(plots)
print(script)
print(div)"""

'#!pip install bokeh\nfrom bokeh.plotting import figure\nfrom bokeh.models import Range1d\nfrom bokeh.embed import components\n\n# create some data\nx1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ny1 = [0, 8, 2, 4, 6, 9, 5, 6, 25, 28, 4, 7]\nx2 = [2, 5, 7, 15, 18, 19, 25, 28, 9, 10, 4]\ny2 = [2, 4, 6, 9, 15, 18, 0, 8, 2, 25, 28]\nx3 = [0, 1, 0, 8, 2, 4, 6, 9, 7, 8, 9]\ny3 = [0, 8, 4, 6, 9, 15, 18, 19, 19, 25, 28]\n\n# select the tools you want\nTOOLS="pan,wheel_zoom,box_zoom,reset,save"\n\n# the red and blue graphs share this data range\nxr1 = Range1d(start=0, end=30)\nyr1 = Range1d(start=0, end=30)\n\n# only the green graph uses this data range\nxr2 = Range1d(start=0, end=30)\nyr2 = Range1d(start=0, end=30)\n\n# build the figures\np1 = figure(x_range=xr1, y_range=yr1, tools=TOOLS, width=300, height=300)\np1.scatter(x1, y1, size=12, color="red", alpha=0.5)\n\np2 = figure(x_range=xr1, y_range=yr1, tools=TOOLS, width=300, height=300)\np2.scatter(x2, y2, size=12, color="blue", alpha=0.5)\n\np3 = figure(x_range=xr2, y_range=yr2, tools=TOOLS, width=300, height=300)\np3.scatter(x3, y3, size=12, color="green", alpha=0.5)\n\n# plots can be a single Bokeh model, a list/tuple, or even a dictionary\nplots = {\'Red\': p1, \'Blue\': p2, \'Green\': p3}\n\nscript, div = components(plots)\nprint(script)\nprint(div)'

In [22]:
df['type_local'].dropna().value_counts(normalize=True) * 100

Maison                                      39.501699
Appartement                                 30.902227
Dépendance                                  22.944507
Local industriel. commercial ou assimilé     6.651567
Name: type_local, dtype: float64